*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  height: 100%;
}

.pt-4 {
  padding-top: 4rem;
}

.dragUpload {
  display: block;
  height: 120px;
  background-color: lightgrey;
  border: 3px black dotted;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
}
.dragUpload--image {
  width: 120px;
  vertical-align: middle;
  opacity: 0.6;
}

@media screen and (max-width: 765px) {
  .dragUpload--image {
    width: 80px;
  }
}

.dragUpload input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.dragged {
  background-color: lightgreen;
  border: 4px lightgreen dashed;
}
.alert {
  display: none;
  margin-top: 0.4rem;
}
.thumb {
  width: 100%;
  display: none;
}
.thumb-img {
  max-width: 100%;
}

.result {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 100px;
  height: 100px;
}
.bordered {
  border:1px solid lightblue;
  margin:5px;
}
.margin-left-auto {
  margin-left: auto;
} 
.p-2 {
  padding:10px;
}
